
{% extends 'base.html' %}
{% load amazon_links %}
{% block content %}
<div class="flex flex-col md:flex-row">

  
 <div class="flex-1 md:p-4 ">
  {% for blog in blog_page %}
  <a href="{%url 'details_blog' blog.id %}" class="block my-2 md:my-6 md:rounded-xl bg-white p-4 md:p-10  md:w-3/4 md:mx-2 md:mx-auto ">
   
   
      
    <div class="flex">
      <div class="w-full mr-2">
        <div>
          <div class="flex items-center">
            <img src="{{ blog.creator.image.url }}" alt="Profile Image" class="w-8 h-8   object-cover border rounded-full ">
            <p class="pl-2 text-gray-600">{{ blog.creator }}</p>
          </div>
          
        </div>
        <br>
        <h1 class="">{{blog.title}}</h1>
        <br>
        <h1 class="inline bg-green-500 px-2 py-1 rounded-xl text-white">{{blog.tag}} </h1>
      
      </div>
      {% if blog.book %}
      {% if blog.book.image %}
        <img class="w-32 pl-2" src="{{ blog.book.image.url }}" alt="{{ book.title }}">
      {% else %}    
        <img class="w-32 pl-2" src="https://images-na.ssl-images-amazon.com/images/P/{{ blog.book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
      {% endif %} 
  
  
    {% endif %}
    </div>
   
    <h1 class="text-right">{{blog.created_at}}</h1>

  </a>

  {% endfor %}


  <nav class="flex justify-center">
    <ul class="inline-flex -space-x-px text-sm">
      {% if blogs.has_previous %}
      <li>
        <a href="?q={{ query }}&page={{ blogs.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">前へ</a>
      </li>
      {% endif %}
  
      {% for num in page_range %}
      <li>
        {% if blogs.number == num %}
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ num }}</a>
        {% else %}
        <a href="?q={{ query }}&page={{ num }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ num }}</a>
        {% endif %}
      </li>
      {% endfor %}
  
      {% if blogs.has_next %}
        <li>
          <a href="?q={{ query }}&page={{ blogs.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">次へ</a>
        </li>
      {% endif %}
    </ul>
  </nav>
 </div>
    
 <div class="w-full md:w-96 md:h-screen  bg-gray-200 p-4 md:m-4  ">
  
  <h1 class="font-bold text-xl bg-blue-900 text-white text-center my-2">人気タグ</h1>
    <hr>
    <div class="flex flex-wrap gap-3">
      {% for tag in tag_list %}
          <a href="{% url 'show_blog_tag' tag.title %}" class="bg-green-500 px-2 py-1 rounded-full text-white">
              {{ tag.title }}
          </a>
      {% endfor %}
  </div>
  </div>
  


</div>
{% endblock %}
