
{% extends 'base.html' %}
{% load amazon_links %}
{% load static %} 
{% block header %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>



{% endblock %}

{% block content %}

<div class="my-16 rounded-xl bg-white md:p-10  md:w-3/4  md:mx-auto">
  
  <div class=" mx-auto p-4 text-center">
   
    {% if book %}
    <div class=" flex justify-center">
      <img class="w-36" src="https://images-na.ssl-images-amazon.com/images/P/{{  book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
      <input type="hidden" name="book" value="{{book.id}}">
    </div>
   
    <h1 class="font-bold pt-4">{{book.title}}</h1>
    <br>
    <form action="{% url 'create_blog'  %}" method="post" >

    


      {% csrf_token %}
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" name="title" placeholder="タイトル">
     
      <textarea class="ckeditor w-full mt-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required name="content" cols="30" rows="10" placeholder="内容"></textarea>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" name="tag" placeholder="タグ">
      <script type="text/javascript">
        CKEDITOR.replace('content', {
            toolbar: [
                { name: 'basicstyles', items: ['Bold', 'Italic', 'FontSize']}
               
            ],
            
         
            fontSize_sizes: '見出し/24px;本文/16px;'
        });
    </script>
    {% comment %} 新しいバージョンが追加されるまでこれを入れとく  {% endcomment %}
    <style>
        
      .cke_notifications_area { display: none; }
    </style>
      <input type="hidden" name="book" value="{{book.id}}">
      <input type="hidden" name="form_type" value="search_book">
      <input type="hidden" name="create_blog" value="create_blog">
     
      
      <button name class="mt-10  px-4 py-3 bg-blue-400 text-white font-bold " type="submit">記事を作成する</button>
    </form>
  {% else %}
    <h1 class="font-bold text-xl text-left">本のisbnを入力してください</h1>
    <form action="{% url 'create_blog'  %}" method="post">
      {% csrf_token %}
     
      <input class="mb-10 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" name="isbn" placeholder="isbn">
      <br>
    </form>
    
  {% endif %}
      
   
  </div>
  
</div>


{% endblock %}