
{% extends 'base.html' %}
{% load amazon_links %}

{% block content %}
<div class="my-16 rounded-xl bg-white p-10  md:w-3/4  md:mx-auto">
  <div class=" mx-auto p-4 text-center">
   
    
      
    <form action="{% url 'create_blog'  %}" method="post" >

      {% if book %}
      <div class=" flex justify-center">
        {% if book.image %}
          
        <img class="object-cover border-2" src="{{ book.image.url }}" alt="{{ book.title }}">
        {% else %}    
          <img class="w-36" src="https://images-na.ssl-images-amazon.com/images/P/{{  book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
        {% endif %} 
        <input type="hidden" name="book" value="{{book.id}}">
      </div>
     
      <h1 class="font-bold pt-4">{{book.title}}</h1>
      <br>
    {% else %}
      <form action="{% url 'create_blog'  %}" method="post">
        {% csrf_token %}
        <input class="mb-10 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" name="isbn" placeholder="isbn">
        <br>
      </form>
      
    {% endif %}


      {% csrf_token %}
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" name="title" placeholder="記事のタイトル">
      <input class="shadow appearance-none border rounded w-full py-2 px-3 my-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required type="text" name="tag" placeholder="記事のタグ">
      <textarea class="w-full mt-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline " required name="content" id="" cols="30" rows="10" placeholder="内容""></textarea><input type="hidden" name="form_type" value="search_book">
      <input type="hidden" name="create_blog" value="create_blog">
     
      
      <button name class="mt-10  px-4 py-3 bg-blue-400 text-white font-bold " type="submit">記事を作成する</button>
    </form>
  </div>
</div>
{% endblock %}
