{% extends 'base.html' %}
{% load amazon_links %}
{% block content %}
<div class="flex flex-col-reverse md:flex-row">
  <div class=" w-11/12 md:w-2/3 mx-auto md:order-1">
    <div class=" bg-white p-8 my-8 md:my-16 rounded-3xl ">
      
      <h1 class="text-xl md:text-4xl font-bold">{{blog.title}}</h1>
      
      <div class="border-b-4 w-16 border-black rounded"></div>
      
      <h1 class="text-right">{{blog.created_at}}</h1>
      
      <br>
      <h1>{{blog.content |  linebreaksbr}}</h1>
      
      <br>
      
      <div class="flex items-center justify-end">
        <a href="#" class="flex items-center">
          <img src="{{ blog.creator.image.url }}" alt="Profile Image" class="w-8 h-8   object-cover border rounded-full ">
          <p class="pl-2 text-gray-600">{{ blog.creator }}</p>
        </a>
      </div>
      <br>
     <a href="{% url 'show_blog_tag' blog.tag.title %}" class="bg-green-500 px-2 py-1 rounded-full text-white">{{blog.tag}}</a>
    
    </div>
    
    {% if blog.tag.title != "お知らせ" %}
    <div class="bg-white p-8 my-8 md:my-16 rounded-3xl sm:order-2  ">
      
      <h1 class="font-bold text-xl">コメント</h1>
      <br>
      {% for comment in comments %}
        <div id="{{comment.id}}" class="comment">
          <hr class="py-2">
         <div class="flex justify-between">
          <div class="flex items-center">
            <img src="{{ comment.creator.image.url }}" alt="Profile Image" class="w-8 h-8   object-cover border rounded-full ">
            <p class="pl-2 text-gray-600">{{ comment.creator }}</p>
          </div>
          <h1 class="font-sm text-gray-400">{{comment.created_at}}</h1>
         </div>
          <p>{{ comment.comment |  linebreaksbr }}</p>
        
        </div>
      {% endfor %}
      <br>
      {% if request.user.is_authenticated %}
        <form id ="comment" method="POST">
          {% csrf_token %}
          
          <textarea name="comment" class="w-full p-2 border " rows="4" required></textarea>
          <br>
          <div class="flex justify-center">
            <button class="p-2  bg-blue-400 font-bold text-white" type="submit">投稿する</button>
          </div>
          
        </form>
        <hr class="my-10">
    
      {% endif %}


    </div>
    {% endif %}
    
  </div>

  
  {% if blog.book %}
  <div class=" w-full md:w-96 bg-gray-200 p-4 md:m-4 h-auto md:order-2">
    {% if blog.book %}
    <div class="justify-center flex bg-white">
      <a class='p-2 'href="{% url 'book_detail' blog.book.id %}" target="_blank" rel="noopener noreferrer">
        {% if blog.book.image %}
        <img class="object-cover border-2" src="{{ blog.book.image.url }}" alt="{{ book.title }}">
        {% else %}    
          <img class="w-36" src="https://images-na.ssl-images-amazon.com/images/P/{{  blog.book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
        {% endif %} 
      </a>
    
      
    </div>
    <br>

  <div class="bg-white p-2 rounded-md ">
    <h1 class="font-bold">{{blog.book.title}}</h1>
    <h1>{{blog.book.description}}</h1>
    <div class="flex justify-center ">
      <a class='p-2 bg-orange-400 text-white rounded font-bold mx-2 text-sm ' ' href="{{ blog.book.isbn|amazon_url }}" target="_blank" rel="noopener noreferrer">Amazonでの評価</a>
      {% if exists_in_next_read %}
      <button class="bg-gray-400 text-white font-bold p-2 mx-2 rounded text-sm ">ツギヨムから削除する</button>
    {% else %}
    
      {% if request.user.is_authenticated  %}
      <button class="bg-blue-400 text-white font-bold p-2 mx-2 rounded text-sm ">ツギヨムに追加</button>
      {% endif %}
      
    
    {% endif %}
   
    </div>
  </div>

    <br>
   
    
    
   
    {% endif %}
  </div>
  {% endif %}
    
    
</div>


{% endblock %}
