{% extends 'base.html' %} 
{% block content %}
{% load rating_stars %}
<div class="container mx-auto p-4 ">
  <h1>月間ランキング</h1>
  <div class="books grid grid-cols-3 md:grid-cols-7 gap-4 mx-2">
    {% for book in books %}
      <div class="image-container relative flex items-center ">
        <a   href="{% url 'book_detail' book.id %}">
          {% if book.image %}
            <img class="object-cover border-2" src="{{ book.image.url }}" alt="{{ book.title }}">
          {% else %}
              <div class="inline-block font-bold h-full text-center ">{{book.title}}</div>
          {% endif %}
        </a>
        <div class="text-overlay absolute top-1 left-0">
          <h1 class="rounded-r bg-blue-400 w-8 text-center text-white font-bold">{{ forloop.counter }}</h1>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
   
    let page = 1;
    const loadMore = () => {
      page++;
      fetch(`?page=${page}`, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
        }
      })
      .then(response => response.json())
      .then(data => {

        data.books.forEach(book => {
          const bookDiv = document.createElement('div');
          bookDiv.className = 'image-container relative flex items-center';
          // HTMLコンテンツをbookのデータで生成
          bookDiv.innerHTML = `<a href="/book/${book.id}">
                                  <img src="${book.image_url}" alt="${book.title}" />
                                
                                </a>`;
          document.querySelector('.books').appendChild(bookDiv);
        });

        if (data.has_next == false) {
          window.removeEventListener('scroll', onScroll);
        } 
      });
    };
  
    const onScroll = () => {
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
        loadMore();
      }
    };
  
    window.addEventListener('scroll', onScroll);
  });
  </script>
{% endblock %}



