{% extends 'base.html' %} 
{% block content %}

<div class="md:w-1/2 m-auto border rounded px-4 my-10 py-2 bg-gray-50">
    <h1 class="text-center font-bold text-3xl py-4">パスワード再設定</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-4">
          {% for field in form %}
          <div>
              <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                     class="mt-1 p-2 w-full border rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 {{ field.errors|yesno:'border-red-500,' }}"
                     value="{{ field.value|default:'' }}" required>
              {% if field.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </div>
          {% endfor %}
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md w-full">
                パスワード再設定
            </button>
        </div>
    </form>
</div>

{% endblock %}
