
{% extends 'base.html' %} 

{% block title %}マイページ{% endblock %}
{% block mata %}
  <meta name="description" content="ディスクリプション　テスト">
  <meta name="keywords" content="test,テスト,キーワード">
  <meta name="author" content="test taro">
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
{% endblock %}
{% block content %}

<div class="  bg-white ">


  {% comment %} 案2 {% endcomment %}
  <div class="flex flex-col items-center md:w-2/3  mx-3 md:mx-auto">
    <img src="{{ profile.image.url }}" alt="Profile Image" class="w-32 h-32 md:w-48 md:h-48 object-cover border rounded-full my-8">
    <h2 class="text-xl font-bold">{{ profile.name }}</h2>
    <p class="mt-2 mx-10">{{ profile.bio }}</p>
  </div>

  <br>
 
  
  {% comment %} https://incodethismeans.com/building-a-book-shelf-with-html-and-css {% endcomment %}

  <h3 class="text-xl md:text-3xl  font-bold text-white pl-2 bg-gray-700">次に読む</h3>
  <div class="bg-gray-800 p-4">
    <div class="bg-gray-700 p-2 mx-auto px-4">
      <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-8 gap-4 mx-auto">
        {% for review in reviews %}
        <div class="book flex flex-col overflow-hidden shadow-xl transform hover:scale-105 duration-300">
          <a href="{% url 'book_detail' review.book.id %}">
            <img class="w-full h-40 object-cover " src="{{ review.book.image.url }}" alt="{{ review.book.title }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <h3 class="text-xl md:text-3xl  font-bold text-white pl-2 bg-gray-700">読んだ本</h3>
   
  <div class="bg-gray-800 p-4">
    <div class="bg-gray-700 p-2 mx-auto px-4">
      <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-8 gap-4 mx-auto">
        {% for review in reviews %}
        <div class="book flex flex-col overflow-hidden shadow-xl transform hover:scale-105 duration-300">
          <a href="{% url 'book_detail' review.book.id %}">
            <img class="w-full h-40 object-cover" src="{{ review.book.image.url }}" alt="{{ review.book.title }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  

  

 
</div>

{% endblock %}
