
{% extends 'base.html' %} 
{% load amazon_links %}
{% block title %}{{ profile.name }} - Tusgiyomu {% endblock %}

{% block mata %}
  <meta name="description" content="ディスクリプション　テスト">
  <meta content="{{profile.content}}">
  <meta name="keywords" content="本棚">
  <meta name="author" content="{{ user.username }}">
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">

{% endblock %}
{% block content %}

<div class="bg-gray-100">

  <div id="edit-profile-overlay" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <form method="post" enctype="multipart/form-data"  id="edit-profile-form" class="bg-white p-6 rounded-lg overflow-auto" style="height: 400px; width: 400px;">
      {% csrf_token %}
      <div class="flex justify-between my-4">
        <button class="bg-blue-400 text-white px-2 py-1 font-bold rounded-full" type="submit">保存する</button>
        <button id="cancel-button" class="...">キャンセル</button>
      </div>
      
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" name="name" placeholder="名前" value="{{ profile.name }}">
      <textarea class="shadow appearance-none border rounded  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" name="bio" placeholder="紹介文"  cols="30" rows="10">{{profile.bio}}</textarea>
      <input class="shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="file" name="image">
     
    </form>
  </div>

 

  {% comment %} 案2 {% endcomment %}
  
  <div class="flex flex-col items-center md:w-2/3  mx-3 md:mx-auto bg-white rounded py-4">
    <div class="flex justify-end w-full px-2 bg-white">

      <button id="open-modal-btn">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-6374f8d9b67f094e4896c636-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><path class="cls-6374f8d9b67f094e4896c636-1" d="M20.59,12a8.12,8.12,0,0,0-.15-1.57l2.09-1.2-2.87-5-2.08,1.2a8.65,8.65,0,0,0-2.72-1.56V1.5H9.14V3.91A8.65,8.65,0,0,0,6.42,5.47L4.34,4.27l-2.87,5,2.09,1.2a8.29,8.29,0,0,0,0,3.14l-2.09,1.2,2.87,5,2.08-1.2a8.65,8.65,0,0,0,2.72,1.56V22.5h5.72V20.09a8.65,8.65,0,0,0,2.72-1.56l2.08,1.2,2.87-5-2.09-1.2A8.12,8.12,0,0,0,20.59,12Z"></path><circle class="cls-6374f8d9b67f094e4896c636-1" cx="12" cy="12" r="3.82"></circle></svg>
      </button>

      <div id="modal-overlay"  class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white  rounded-lg overflow-auto flex flex-col" style="width: 200px" >
          <h1 class="text-center bg-blue-400 text-white font-bold">Account</h1>
          
          <div class="flex items-center p-2 hover:bg-gray-200">
            <svg id="Layer_1" class="m-1  rounded-full " data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-6374f8d9b67f094e4896c670-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><circle class="cls-6374f8d9b67f094e4896c670-1" cx="12" cy="7.25" r="5.73"></circle><path class="cls-6374f8d9b67f094e4896c670-1" d="M1.5,23.48l.37-2.05A10.3,10.3,0,0,1,12,13h0a10.3,10.3,0,0,1,10.13,8.45l.37,2.05"></path></svg>
            <a class=" w-full py-2" href="{% url 'logout'%}">ログアウト</a >
          </div>
          <div class="flex items-center p-2 hover:bg-red-400">
            <svg id="Layer_1" class="m-1  rounded-full " data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-6374f8d9b67f094e4896c61d-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><circle class="cls-6374f8d9b67f094e4896c61d-1" cx="9.61" cy="5.8" r="4.3"></circle><path class="cls-6374f8d9b67f094e4896c61d-1" d="M1.5,19.64l.7-3.47a7.56,7.56,0,0,1,7.41-6.08,7.48,7.48,0,0,1,4.6,1.57"></path><circle class="cls-6374f8d9b67f094e4896c61d-1" cx="16.77" cy="16.77" r="5.73"></circle><line class="cls-6374f8d9b67f094e4896c61d-1" x1="14.39" y1="14.39" x2="19.16" y2="19.16"></line><line class="cls-6374f8d9b67f094e4896c61d-1" x1="19.16" y1="14.39" x2="14.39" y2="19.16"></line></svg>
            <a class=" w-full py-2" href="{% url 'logout'%}">アカウント削除</a >
          </div>
        
        </div>
      </div>
      
    </div>
    <img src="{{ profile.image.url }}" alt="Profile Image" class="w-32 h-32 md:w-48 md:h-48 object-cover border rounded-full mt-8">
    
    {% if profile.user == request.user %}
      <button id="edit-profile-btn" class="bg-blue-500 text-white px-3 py-1 rounded-full my-4 font-bold">プロフィールを編集</button>
    {% endif %}
      
    
    <h2 class="text-xl font-bold">{{ profile.name }}</h2>
    <p class="mt-2 mx-10">{{ profile.bio }}</p>


   
  
  </div>

  <br>

  
  <div class="flex">
    <button id="next-books-btn" class="tab-btn w-full font-bold bg-gray-700 text-white h-8" onclick="showSection('next-books', this)">ツギヨム</button>
    <button id="read-books-btn" class="tab-btn w-full font-bold bg-gray-200 border-l border-r border-gray-300" onclick="showSection('read-books', this)">本棚</button>
    <button id="blog-btn" class="tab-btn w-full font-bold bg-gray-200" onclick="showSection('blog-content', this)">Note</button>
  </div>


  <div id="next-books" class="content-section">
    {% comment %} <h3 class="text-xl md:text-3xl  font-bold text-white pl-2 bg-gray-700">ツギヨム</h3> {% endcomment %}
    <div class="bg-gray-800 p-4 min-h-screen"">
      <div class="bg-gray-700 p-2 mx-auto px-4">
        <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-8 gap-4 mx-auto">
          {% for next in next_books %}
            <a class="image-container relative  w-full " href="{% url 'book_detail' next.book.id %}">
              <img class="w-32 object-cover border-2" src="https://images-na.ssl-images-amazon.com/images/P/{{  next.book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
              <div class="text-overlay absolute top-1 left-0">
                <h1 class="rounded-r bg-blue-400 w-8 text-center text-white font-bold ">{{ forloop.counter }}</h1>
              </div>
          
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
 
  

  <div id="read-books" class="content-section" style="display:none;">
    {% comment %} <h3 class="text-xl md:text-3xl  font-bold text-white pl-2 bg-gray-700">読んだ本</h3> {% endcomment %}
   
    <div class="bg-gray-800 p-4 min-h-screen">
      <div class="bg-gray-700 p-2 mx-auto px-4">
        <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-8 gap-4 mx-auto">
          {% for review in reviews %}
          <a class="image-container relative  w-full" href="{% url 'book_detail' review.book.id %}">
            <img class="w-32 object-cover border-2" src="https://images-na.ssl-images-amazon.com/images/P/{{  review.book.isbn|isbn13_to_isbn10 }}.TZZZZZZZ.jpg" alt="">
            <div class="text-overlay absolute top-1 left-0">
              <h1 class="rounded-r bg-blue-400 w-8 text-center text-white font-bold ">{{ forloop.counter }}</h1>
            </div>
         
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
 

   

  </div>
  <div id="blog-content" class="content-section" style="display:none;">
    
      <div class="md:w-2/3 mx-auto ">
        <div class="  p-2 ">
          {% for blog in blogs %}
          <a  href="{%url 'details_blog' blog.id %}" class="flex items-center block   p-5 bg-white">
            <img src="{{ blog.creator.image.url }}" alt="Profile Image" class="w-8 h-8  object-cover border rounded-full mr-3 "> 
            
            <div class="">
              <h1 class="font-bold text-xl" >{{blog.title}}</h1>               
              <p class=" text-gray-600">{{ blog.creator }}</p>
            </div>
            {% comment %} <a href="{% url 'show_blog_tag' blog.tag.title %}" class="bg-green-500 px-2 py-1 rounded-full text-white">{{blog.tag}}</a> {% endcomment %}
          
          </a>
          <hr>
          {% endfor %}
        </div>  
      </div>
  </div>
  
  
  <script>
    // プロフィール編集ボタンを押したらedit-profile-overlayを表示する
    document.getElementById('edit-profile-btn').addEventListener('click', function() {
      document.getElementById('edit-profile-overlay').classList.toggle('hidden');
    });
    // キャンセルを押したらedit-profile-overl非表示にする
    document.getElementById('cancel-button').addEventListener('click', function() {
      document.getElementById('edit-profile-overlay').classList.add('hidden');
    });
    // 画面外をタップしたらedit-profile-overlを非表示
    window.addEventListener('click', function(e) {
      var overlay = document.getElementById('edit-profile-overlay');
      if (e.target === overlay) {
        overlay.classList.add('hidden');
      }
    });
    
  </script>


  <script>

    //　ギアーのアイコン(open-modal-btn)を押した modal-overlayを表示する
    document.getElementById('open-modal-btn').addEventListener('click', function() {
      document.getElementById('modal-overlay').classList.toggle('hidden');
    });

    window.addEventListener('click', function(e) {
      var overlay = document.getElementById('modal-overlay');
      if (e.target === overlay) {
        overlay.classList.add('hidden');
      }
    });


  </script>

  <script>
    function showSection(sectionId, selectedBtn) {
      // すべてのコンテンツセクションを非表示にする
      document.querySelectorAll('.content-section').forEach(function(section) {
          section.style.display = 'none';
      });
  
      // 指定されたセクションを表示する
      document.getElementById(sectionId).style.display = 'block';
  
      // ボタンのスタイルを更新
      updateButtonStyles(selectedBtn);
  }
  
  function updateButtonStyles(selectedBtn) {
    // tab-btn
    document.querySelectorAll('.tab-btn').forEach(function(btn) {
        btn.classList.remove('bg-gray-700', 'text-white');
        btn.classList.add('bg-gray-200', 'text-black');
    });

    // 選択されたボタンのスタイルを設定
    selectedBtn.classList.remove('bg-gray-200', 'text-black');
    selectedBtn.classList.add('bg-gray-700', 'text-white');
  }

  
  
    </script>

</div>


{% endblock %}
