{% extends 'base.html' %} 
{% block content %}
{% load rating_stars %}
<div class="container mx-auto p-4 text-center">
  <h1 class="text-2xl font-bold mb-4">最新のレビュー</h1>
  <div class="flex flex-wrap  -mx-2">
    {% for review in reviews %}
    <div class="w-full md:w-1/2 px-2 mb-4">
     
      <a href="{% url 'book_detail' review.book.id %}" class="hover:scale-105 block bg-white rounded shadow-md overflow-hidden hover:shadow-lg transition-shadow flex p-3 items-center">
        <img class="object-cover border-2" src="{{ review.book.image.url }}" alt="{{ review.book.title }}">
        <div class="p-3 md:w-2/3 flex flex-col items-center  mx-auto">
          
          <h2 class="font-bold text-lg mb-2 text-center">{{ review.book.title }}</h2>
          <div class="flex items-center">
            <img src="{{ review.user.image.url }}" alt="Profile Image" class="w-8 h-8   object-cover border rounded-full ">
            <p class="pl-2 text-gray-600">{{ review.user }}</p>
          </div>
          <p class="mt-2">{{ review.content|truncatewords:20 }}</p>
          <p>{{ review.rating|stars }} {{review.rating}}</p>
        </div>
      </a>
    </div>
  {% endfor %}
  
  </div>


  <nav class="flex justify-center >
    <ul class="inline-flex -space-x-px text-sm">
      {% if reviews.has_previous %}
      <li>
        <a href="?page={{ reviews.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">前へ</a>
      </li>
      {% endif %}
  
      {% for num in page_range %}
      <li>
        {% if reviews.number == num %}
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ num }}</a>
        {% else %}
        <a href="?page={{ num }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ num }}</a>
        {% endif %}
      </li>
      {% endfor %}
  
      {% if reviews.has_next %}
        <li>
          <a href="?page={{ reviews.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">次へ</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  </div>
</div>
{% endblock %}



